<li>
  <span class='title'>
    <%= link_to inquiry.name, inquiry_url(inquiry) %> <%= t('.said') %>
    <span class="preview"><%= truncate(strip_tags(inquiry.message), :length => 60) -%></span>
  </span>
</li>